body{
          font-family: 'Roboto', sans-serif;
          background-color: rgb(48, 8, 104);
}
h1{
          color:white;
}
#show-Result{
          margin-left: 5%;
          margin-right: 5%;
}
.display-handle{
          display: none;
}
#error-message{
          color: rgb(235, 39, 72);
}


 